/*table {
    font-size: 80%;
}

.table-container {
    overflow: auto;
    height: 100%;
    max-height: 300px;
}

#machines-geo {
    height: 100%;
    min-height: 200px;
}


#failures-month {
    height: 50%;
}

#failures-machine {
    height: 50%;
}

#row-machines {
    height: 60%;
}

#row-warnings {
    height: 35%;
}*/